//Uses variables from _theme.scss

html {
    font-family: $font-primary;
    font-weight: normal;
    color: $color-text;
}

//HEADERS, TEXT, LINKS
h1, .h1 {
    font-size: 4.236em;
    text-transform: uppercase;
    font-family: $header-font;
}
h2, .h2 {
    font-size: 2.618em;
    text-transform: uppercase;
    font-family: $header-font;
}
h3, .h3 {
    font-size: 1.618em;
    font-family: $header-font;
}
.text-fancy {
    font-family: $font-secondary;
    font-size: 1.5em;
    font-style: italic
}
.text-emph {
    font-family: $font-primary--bold; 
    font-size: 2em; 
    text-transform: uppercase
}

a:link, a:visited {
    color: $link-color
}
a:hover {
   color: $link-color--hover
}

//HEADER & MAIN MENU

.mainmenu {
    list-style-type: none;
    li {
        font-family: $menu-font-family;
        font-size: $menu-font-size;
        text-transform: $menu-font-transform;
        padding: 0 1em;
        text-align: right;
        a:link, a:visited {
            color: $menu-link-color;
        }
        a:hover {
            color: $menu-link-color--hover
        }
    }
}

.mainmenu__icon > svg {
    fill: #fff;
    width: 30px;
    height: 30px;
}

//SECTIONS & PAGES
#section--mailinglist {
    background-color: #aaa
}


#section--eventsearch {
    background-color: #eee;
}


.eventsfeatured__event-details {
    color: white;
    text-align: center;
    &--small {
        font-size: .618em !important
    }
}
.eventsfeatured__event-title--small {
    font-family: $font-primary
}

.eventsfeatured__event-title--sub {
    font-size: 2em;
    font-family: $font-primary;
    text-transform: none;
}
.eventsfeatured__event__date, 
.eventsfeatured__event__venue, 
.eventsfeatured__event__city {
    display: block;
    font-size: 2rem
}
.eventsfeatured__event__date {
    font-size: 2.618rem
}
.eventsfeatured__event__city {
    margin-bottom: 1.618rem
}


#section--eventlist {
    color: lighten( $color-text, 40% );
}
.eventlist__title__presents {
    font-family: $font-secondary;
    font-style: italic
}
.eventlist__title__act {
    text-transform: uppercase;
    font-size: 2.618em
}
.eventlist__title__subtitle {
    font-family: $font-primary--bold;
    text-transform: uppercase;
    color: lighten( $color-text, 60% )
}
.eventlist__details__date {
    font-family: $font-primary--bold
}
.eventlist__details__venue, .eventlist__details__city {
    color: lighten($color-secondary, 10%);
    font-family: $font-primary--bold
}
.eventlist__details__note {
    font-style: italic;
    font-size: .8em
}
//COMPONENTS

//Slider

.topslider {
    width: 100%;
    background-image: url(../img/1210x530.jpg);
    background-size: cover;
    background-position: center;
    height: 550px
}

//Forms & Buttons

input {
    background-color: $input-color;
    padding: .5em 10px;
    font-style: italic
}

select {
    background: $input-color;
    width: 200px;
    padding: .7em;
    font-size: .9em;
    font-family: $font-primary--bold
}
label {
    font-family: $font-primary--bold
}

.button {
    padding: .5em 1em;
    display: inline-block;
    background-color: $button-color--standard;
    color: $button-text-color;
    text-transform: uppercase;
    font-family: $font-primary--bold;
    &--higlight {
        background-color: lighten($button-color--standard, 50%);
    }
    &--emphasis {
        background-color: $color-tertiary;
        padding: 1rem 2.1618rem;
    }
    &--light {
        font-family: $font-primary;
        text-transform: none
    }
    &--fancy--light {
            font-size: 1.6em;
             background-color: rgba(0, 0, 0, .4);
            color: #000
        }
    &--fancy--dark {
        font-size: 1.6em;
        background-color: rgba(255, 255, 255, .8);
        color: #fff
    }
}