//Calendar/Event list page

#section--calendartop {
    text-align: center;
    background-image: url(../img/bg-color.jpg);
    @include bg-cover;
    @include flexdisplay;
    flex-direction: column;
    * {
        margin: auto
    }
}

#section--calendarsearch {
    padding: 1.618rem 0
}