//Lists

.list-nostyle {
    list-style-type: none
}

//Text

.text-center {text-align: center}
.text-left {text-align: left}
.text-justify {text-align: justify}
.text-reader-only {//for screen readers
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
} 
.text-fancy {
    font-family: $font-secondary;
    font-style: italic
}
.text-emph {
    font-family: $font-primary--xbold; 
    font-size: 4.236rem; 
    text-transform: uppercase
}
.is-super{margin-bottom: -.5em}
.is-sub {margin-top: -.2em}

//States

.hide-sm {
    display: none;
    @include breakpoint ($break-small) {
        display: inline-block
    }
}
.hide-md {
    display: none;
     @include breakpoint ($break-medium) {
        display: inline-block
     }
}


//Layouts

@mixin bg-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}