//SECTIONS, GRID, FLOATS ETC

//Breakpoints
$break-xsmall: 500px;
$break-small: 600px;
$break-medium: 768px;
$break-large: 1024px;
$break-xlarge: 1200px;


//LAYOUT HELPERS

//Display

@mixin flexdisplay {
    display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

//Floats & clears
.float-left {float: left}

.float-right {float: right}
.cf:before,
.cf:after {
    content: " "; 
    display: table;
}
.cf:after {
    clear: both;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//Alignment
.align-center {display: block; margin: 0 auto}


//SECTIONS

.wrap {
    max-width: 1800px;
    margin: 0 auto;
    display: block
}

//Header

header {
    position: $header-position;
    width: 100%;
    @include flexdisplay;
    flex-direction: $header-direction;
    justify-content: space-between;
    align-items: center
}
.header__logo {
    max-width: 150px;
    @if $menu-position == 1 {
        order: 2
    } @else {
        order: 1
    }
        
}

////Nav
nav {
    order: $menu-position;
}
.mainmenu {
    position: absolute;
    top: 40px;
    
    @if $menu-position == 1 {
        left: 10px;
    } @else {
        right: 10px;
    }
    
    @include breakpoint ($break-small){
        position: inherit;
    }
}

.mainmenu__icon {   
    color: white;
    position: absolute;
    top: 5px;
    right: 20px;
    width: 200px;
    text-align: right;
    cursor: pointer;
    @include breakpoint ($break-small) {
        display: none
    }
}


//Footer

footer {
    @include flexdisplay;
    flex-wrap: wrap;
}
.footerbox {
    width: 100%;
    &--1 {order: 1}
    &--2 {order: 2}
    &--3 {order: 3}
   @include breakpoint($break-small) {
        width: 33%;
        &--1 {order: 2}
        &--2 {order: 3}
        &--3 {order: 1}
    }
}

//Sections

#section--topslider {
    position: relative;
    top: -65px;
    z-index: -1;
    margin-bottom: -65px
}

//Section: Mailing List
#section--mailinglist {
   @include flexdisplay;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    padding-bottom: 30px;
    div {
        width: 100%;
        padding: 0 1em;
        @include breakpoint ($break-medium){
            width: 45%;
            padding: 0
        }
    }
}
.mailinglist__text {
    text-align: center;
    margin-bottom: 1.168em;
    @include breakpoint ($break-medium) {
        text-align: left;
        margin-bottom: 0
    }
}
.mailinglist__input {
    text-align: right;
    button {
        width: 100%;
        @include breakpoint ($break-medium){
                width: auto
        }
    }
    input {
        padding: 20px 10px;
        width: 100%;
        @include breakpoint ($break-medium){
                width: 400px
        }
    }
}

//Section: Featured Events
.eventsfeatured {
    @include flexdisplay;
    flex-wrap: wrap;
    min-height: 100%
}
.eventsfeatured__event {
    width: 100%;
    position: relative;
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    @include breakpoint ($break-small) {
        width: 50%;
        height: 500px; 
        float: left
    }
    &:hover .eventsfeatured__event__hidden {
        height: 500px !important;
        background-color: rgba($color-primary,.8);
    }
    
}
.eventsfeatured__event__hidden {
    overflow-y: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    & > hgroup {
        margin-bottom: 1rem;
        margin-top: 2.618rem;
    }
}

.eventsfeatured__event--small {
    widows: 100%;
    @include breakpoint ($break-small) {
        width: 33.333%;
        float: left
    }
}


//Section: Event Search
#section--eventsearch {
    width: 100%;
    @include flexdisplay;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5em 0;
    div {
        width: 95%;
        &:first-of-type {
            @include breakpoint ($break-large) {
                width: 60%;
                text-align: center;
            }
        }
        &:last-of-type {
            @include breakpoint ($break-large) {
                width: 40%
            }
        }
    }
    input {
        width: 100%;
        margin: 1em 0;
        @include breakpoint ($break-medium) {
            width: 80%
        }
    }
    select {
        margin: .5em 0
    }
}
.eventsearch__filter > form {
    clear: both;
    width: 100%;
    display: block;
    @include breakpoint ($break-small) {
        display: inline;
    }
}
.eventsearch__button {
   width: 100%;
    @include breakpoint ($break-medium) {
        width: auto
    }
   
}

//Section: Event Listings
#section--eventlist {
    @include clearfix;
    span {
        display: block;
        @include clearfix
    }
    div {
        float: left
    }
}
.eventlist__img {
    @include breakpoint ($break-xsmall){
        max-width: 40%
      }
}
.eventlist__details {
    margin: .618em 0;
     @include breakpoint ($break-small){
         margin: 0
     }
}
.eventlist__details__date {
    font-family: $font-primary
}