//SECTIONS, GRID, FLOATS ETC

//LAYOUT HELPERS

//Display

@mixin flexdisplay {
    display: -webkit-flex;
	display: flex;
}

//Floats & clears
.float-left {float: left}

.float-right {float: right}
.cf:before,
.cf:after {
    content: " "; 
    display: table;
}
.cf:after {
    clear: both;
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//Alignment
.align-center {display: block; margin: 0 auto}
.section--padded {
    padding: 0 2em;
}

//12-COL GRID (reusable flex boxes)
// container gets .l-container and boxes get .l-col .col--[size]-[#]

$breakpoints: (
    xs: $break-xsmall,
    sm: $break-small,
    md: $break-medium,
    lg: $break-large,
    xl: $break-xlarge,
);

$grid-columns: 12;

.l-container {
    &--rowwrap {
        @include flexdisplay;
        flex-flow: row wrap;
        clear: both
    }
    &--rownowrap {
        @include flexdisplay;
        flex-flow: row nowrap;
        clear: both
    }
}


.l-col {
    flex-basis: 100%;
    flex-grow: 0;
}

@each $label, $breakpoint in $breakpoints {
    @media (min-width: $breakpoint) {
        @for $i from 1 to $grid-columns + 1 {
            .l-col.col--#{$label}-#{$i} {
                flex-basis: ($i / $grid-columns) * 100%;
            }
        }
    }
}

//SECTIONS

.wrap {
    max-width: 1800px;
    margin: 0 auto;
    display: block
}
.section--top {
    @if $header-position == 'static' {
        position: relative;
        top: -65px;
        z-index: -1;
        margin-bottom: -65px;
        height: 60vh
    } @else {
        height: 60vh;
        max-height:  420px
    }
}

//Header

header {
    position: $header-position;
    width: 100%;
    max-width: 1800px;
    @include flexdisplay;
    flex-direction: $header-direction;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    @if $header-position == 'fixed' {
        margin-bottom: 2rem
    }
}
.header__logo {
    max-width: 150px;
    margin: 1rem 0 0 1rem;
    @if $menu-position == 1 {
        order: 2
    } @else {
        order: 1
    }
        
}

////Nav
nav {
    order: $menu-position;
}
.mainmenu {
    @if $header-direction == 'row' {
        position: absolute;
        top: 10px;
        @if $menu-position == 2 {
            right: 15px;
        } @else {
            left: 10px
        }   
    }

    
    li {
        display:inline-block;
        &:nth-child(3) {
            cursor: pointer;
            padding: 0;
            &:hover {
                padding: 150px;
                margin: -150px;
                position: relative;
                z-index: 1;
                outline: none;
            }
            &:focus ~ li, &:hover ~ li {
              opacity: 1;
              height: 2.618rem;
            }
            @include breakpoint ($break-small){
                display: none;
            }
        }
        &:nth-child(n+4) {
          opacity:0;
          overflow: hidden;
          height: 0;
          display: block;
          transition: all 0.5s;
            @include breakpoint ($break-small){
                opacity: initial;
                height: initial;
                display: initial;
            }
        }
    }
}

//Footer
footer {
    margin-top: 2.618rem
}

.footerbox {
    &--1 {order: 1}
    &--2 {order: 2}
    &--3 {order: 3}
   @include breakpoint($break-small) {
        &--1 {order: 2}
        &--2 {order: 3}
        &--3 {order: 1}
    }
}

//Sections

#section--topslider {
    position: relative;
    top: -65px;
    z-index: -1;
    margin-bottom: -65px
}

//Section: Mailing List
#section--mailinglist {
   @include flexdisplay;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 19px 0;
    padding-bottom: 30px;
    div {
        width: 100%;
        padding: 0 1em;
        line-height: 1.1;
        @include breakpoint ($break-medium){
            width: 45%;
            padding: 0
        }
    }
}
.mailinglist__text {
    text-align: center;
    margin-bottom: 1.168em;
    @include breakpoint ($break-medium) {
        text-align: left;
        margin-bottom: 0
    }
}
.mailinglist__input {
    text-align: right;
    button {
        width: 100%;
        @include breakpoint ($break-medium){
            width: auto;
            vertical-align: middle
        }
    }
    input {
        padding: 20px 10px;
        width: 100%;
        @include breakpoint ($break-medium){
            width: 400px;
            vertical-align: middle
        }
    }
}


//Section: Event Listings
#section--eventlist {
    @include clearfix;
    li {
        @include flexdisplay;
        flex-wrap: wrap;
        justify-content: space-between;
        @include breakpoint ($break-medium) {
           flex-wrap: nowrap; 
        }
    }
    span {
        display: block;
        @include clearfix
    }
    div {
        float: left;
        flex-grow: 1;
        align-self: center;
         padding: 0 1rem;
         @include breakpoint ($break-small){
            padding: 0
         }
    }
}
.eventlist__img {
    overflow: hidden;
    @include breakpoint ($break-small){
        max-height: 250px;
        max-width: 250px;
        margin-right: 5%;
      }
    img {
        vertical-align: bottom
    }
}
.eventlist__title {
    @include breakpoint ($break-small){
        width: 30%;
    }
}
.eventlist__button  {
    width: 100%;
    margin: 1.618rem 0;
    @include breakpoint ($break-small){
        width: auto;
        margin: 0
         }
}