//Reusable modules like search forms and buttons

input {
    background-color: $input-color;
    padding: .5em 10px;
    font-style: italic
}

select {
    background: $input-color;
    padding: .7em;
    font-size: .9em;
    font-family: $font-primary--bold
}
label {
    font-family: $font-primary--bold
}

.button {
    padding: .5em 1em;
    display: inline-block;
    background-color: $button-color--standard;
    color: $button-text-color;
    text-transform: uppercase;
    font-family: $font-primary--bold;
    min-width: 115px;
    &--higlight {
        background-color: lighten($button-color--standard, 50%);
    }
    &--emphasis {
        background-color: $color-tertiary;
        padding: 1rem 2.1618rem;
    }
    &--light {
        font-family: $font-primary;
        text-transform: none
    }
    &--fancy--light {
            font-size: 1.6em;
             background-color: rgba(0, 0, 0, .4);
            color: #000
        }
    &--fancy--dark {
        font-size: 1.6em;
        background-color: rgba(255, 255, 255, .8);
        color: #fff
    }
}

//Event Search & Filter
.m--eventsearchwrap {
    @include flexdisplay;
    flex-direction: column;
    justify-content: center;
    @include breakpoint ($break-xlarge){
        flex-direction: row;
        flex-wrap: nowrap;
    }
    form {
        display: inline-block
    }
}
.m--eventsearch__filter {
    width: 100%;
     @include breakpoint ($break-medium){
        width: auto;
         margin-right: 2.618rem;
     }
    form {
        margin: 0.618rem; 
         @include breakpoint ($break-xlarge){
            margin: 0
        }
        select {
            width: 250px
        }
    }
    button {
        width: 100%;
        margin-top: 0.618rem;
        @include breakpoint ($break-xsmall){
            width: auto;
            margin: 0
        }
   }
}
.m--eventsearch__search {
    margin: 0 0.618rem 1.618rem;
    @include breakpoint ($break-xlarge){
        margin: 0
    }
    input[type='search'] {
        width: calc(100% - 120px);
        @include breakpoint ($break-xlarge){
            width: 250px
        }
    }
}

//Calendar (list)
$block-size: 110px;

#m--calendar--list {
    width: 95%;
    margin: 1rem auto;
    @include breakpoint ($break-small) {
        margin: 4.236rem auto;
        width: 85%
    }
    hr {
        margin: 2.618rem 0 4.236rem
    }
}
.m--calendarnav {
    @include flexdisplay;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    li a {
        color: inherit;
        text-transform: uppercase;
        font-family: $font-primary--bold
    }
}
.m--calendarnav__month--current {
    text-align: center
}
.m--calendarnav__month--prev:before {
    content:'<< '
}
.m--calendarnav__month--next:after {
    content: ' >>'
}

.m--calendarview {
    max-width: 575px;
    margin: 0 auto
}
.m--calendarevent {
    @include flexdisplay;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: .618rem;
}
.m--calendarevent__date {
    text-align: center;
    width: $block-size;
    height: $block-size;
    background: $color-secondary;
    color: #fff;
    margin-right: 0.382rem;
    &__container {
        border: 1px solid white;
        width: 80%;
        margin: .9em auto;
        > span {
            display: block
        }
    }
    &__month {
        margin-bottom: -1em
    }
    &__dayno {
        font-size: 4.236rem;
        font-family: $font-primary--xbold
    }
    &__day {
        margin-top: -.8em;
    }
}
.m--calendarevent__img {
    display: none;
    @include breakpoint ($break-small) {
        display: inherit
    }
    img {
        height: $block-size;
    }
}
.m--calendarevent__details {
    width: 40%;
    padding: 0 .618rem;
    > span {
        display: block
    }
    &__time, &__venue {
        font-family: $font-secondary;
        font-style: italic
    }
    &__venue {
        color: $color-secondary
    }
    &__artist {
        text-transform: uppercase;
        font-size: 1.618rem;
    }
}