//Reusable modules like searchforms, widgets, and buttons

input {
    background-color: $input-color;
    padding: .5em 10px;
    font-style: italic
}

select {
    background: $input-color;
    padding: .7em;
    font-size: .9em;
    font-family: $font-primary--bold
}
label {
    font-family: $font-primary--bold
}

.button {
    padding: .5em 1em;
    display: inline-block;
    background-color: $button-color--standard;
    color: $button-text-color;
    text-transform: uppercase;
    text-align: center;
    font-family: $font-primary--bold;
    min-width: 115px;
    &--highlight {
        background-color: lighten($button-color--standard, 50%);
    }
    &--emphasis {
        background-color: $color-tertiary;
        padding: $scale-1 $scale-3;
    }
    &--light {
        font-family: $font-primary;
        text-transform: none
    }
    &--fancy--light {
            font-size: $scale-3;
             background-color: rgba(0, 0, 0, .4);
            color: #000
        }
    &--fancy--dark {
        font-size: $scale-3;
        background-color: rgba(255, 255, 255, .8);
        color: #fff
    }
    &:hover {
        color: #fff
    }
}


//Featured Events
.eventsfeatured {
    color: $color-contrast;
    text-align: center;
    li {
        height: 500px;
        @include bg-cover;
        position: relative;
    }
}
.eventsfeatured__details {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transition: .8s ease-in-out;
    -moz-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
    &:hover {
        height: 500px !important;
        background-color: rgba($color-primary,.8);
        .hgroup--eventsfeatured__event-title::after{
          content: '-';
        }
   }
    & > hgroup {
        margin-bottom: $scale-1;
        margin-top: $scale-3;
        }
    &--small {
        bottom: 10px
    }
}
.hgroup--eventsfeatured__event-title {
    &::after{
        content: '+';
        font-size: 2em
    }
}

.eventsfeatured__event-title {
    @extend h2; 
    &--sub {
        @extend h3;
        text-transform: none;
    }
}
.eventsfeatured__event{
    &__date, &__venue, &__city{
        display: block;
        font-size: 2rem
    }
    &__date {
        font-size: $scale-3
    }
    &__city {
        margin-bottom: $scale-2
    }
}


.eventsfeatured--small {
    li {
        height: 300px;
    }
    hgroup {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .eventsfeatured__event-title {
        @extend h3;
        &--sub {
            font-size:  $scale-2;
        }
    }
}

//Event Search & Filter
.eventsearchwrap {
    @include flexdisplay;
    flex-direction: column;
    justify-content: center;
    @include breakpoint ($break-xlarge){
        flex-direction: row;
        flex-wrap: nowrap;
    }
    form {
        display: inline-block
    }
}
.eventsearch__filter {
    width: 100%;
     @include breakpoint ($break-medium){
        width: auto;
         margin-right: $scale-3;
     }
    form {
        margin: $scale-0; 
         @include breakpoint ($break-xlarge){
            margin: 0
        }
        select {
            width: 250px
        }
    }
    button {
        width: 100%;
        margin-top: $scale-0;
        @include breakpoint ($break-xsmall){
            width: auto;
            margin: 0
        }
   }
}
.eventsearch__search {
    margin: 0 $scale-0 $scale-2;
    @include breakpoint ($break-xlarge){
        margin: 0
    }
    input[type='search'] {
        width: calc(100% - 120px);
        @include breakpoint ($break-xlarge){
            width: 250px
        }
    }
}

//Calendar (list)
$block-size: 110px;
#calendar {
    width: 95%;
    margin: $scale-1 auto;
    @include breakpoint ($break-small) {
         margin: $scale-3 auto;
        width: 95%;
    }
    hr {
        margin: $scale-3 0 $scale-4
    }
}
.calendar__viewas {
    float: right;
    font-family: $font-primary--bold;
    text-transform: uppercase;
    font-size: 1.3rem
}
.calendar--list {
    clear: both;
    max-width: 575px;
    margin: 0 auto
    
}
.calendarevent {
    @include flexdisplay;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: #eee;
    padding: 5% 10%;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: $scale-0;
    @include breakpoint ($break-small) {
        flex-direction: row;
        flex-wrap: nowrap;
        background: none;
        padding: 0;
        max-width: none
    }
}
.calendarevent__date {
    width: 100%;
    background: $color-secondary;
    color: #fff;
    margin-bottom: 0.382rem;
    flex: auto;
    &__container {
        border: 1px solid white;
        width: 95%;
        margin: .5em auto;
        > span {
                @include breakpoint($break-small) {
                    display: block
                }
        }
        @include breakpoint($break-small) {
            width: 80%;
            margin: .9em auto;
        }
    }
    &__month {
        margin-bottom: -1em
    }
    &__dayno {
        @include breakpoint ($break-small){
            font-size: $scale-4;
            font-family: $font-primary--xbold
        }
    }
    &__day {
        margin-top: -.8em;
    }
    @include breakpoint ($break-small) {
         width: $block-size;
        height: $block-size;
        flex: initial;
        margin-right: 0.382rem;
        margin-bottom: 0;
    }
}
.calendarevent__img {
    display: inline-block;
    margin: 0 auto;
    img {
        @include breakpoint ($break-small) {
            height: $block-size;
        }
    }
}
.calendarevent__details {
    padding: 0  $scale-0;
    display: inline-block;
    margin: 0 auto;
    &__time, &__venue {
        @extend .text-fancy;
        font-size: 1.3rem;
        display: block
    }
    &__venue {
        color: $color-secondary
    }
    &__artist {
        text-transform: uppercase;
        font-size: $scale-2;
        display: block;
    }
    @include breakpoint ($break-small) {
        width: 45%;
        text-align: left
    }
}
.calendarevent__button {
    width: 100%;
    flex: auto;
    margin-top: 0.382rem;
    > button {
        margin: 0 auto
    }
    @include breakpoint ($break-small) {
        width: auto;
        margin: 0;
    }
}


.calendar--grid {
    width: 100%;
    @include flexdisplay;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        width: 14%;
        height: 250px;
        margin-bottom: .4rem;
        @include flexdisplay;
        flex-direction: column;
        position: relative;
        &[role=presentation] {
            height: auto;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.3rem;
            font-family: $font-primary--bold
        }
    }
    @media (max-width: $break-medium){
        display: none
    }
}
.calendarevent__day {
    position: absolute;
    top: 0;
    left: 5px;
    color: #fff
}
.calendarevent--past{
    background-color: #aaa
}
.calendarevent--grid__act {
    background-size: cover;
    flex: 1;
    @include flexdisplay;
    flex-direction: column;
    justify-content: flex-end;
    > .calendarevent__details__artist{
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 1.5rem;
        a {
            color: #000
        }
    }
}
.calendarnav {
    @include flexdisplay;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    li a {
        color: inherit;
        text-transform: uppercase;
        font-family: $font-primary--bold
    }
}
.calendarnav__month--current {
    text-align: center
}
.calendarnav__month--prev:before {
    content:'<< '
}
.calendarnav__month--next:after {
    content: ' >>'
}

.calendar__alert a {
    @extend .text-fancy;
    color: $color-tertiary;
    &:after {
        content: ' >>'
    }
}