//
//!*VARIABLES*!
//Declare your base styles to be reused through out components (buttons, links etc)
//

//BREAKPOINTS
$break-xsmall: 500px;
$break-small: 640px;
$break-medium: 768px;
$break-large: 1024px;
$break-xlarge: 1200px;

//SCALES
//1.618/golden
$scale-0: 0.618rem; //smaller
$scale-1: 1rem; //base
$scale-2: 1.618rem;
$scale-3: 2.618rem;
$scale-4: 4.23rem;
$scale-5: 6.854rem;
    

//COLORS

$color-text: rgba(0 , 0 ,0 , 1); //black
$color-primary: rgba(127, 62, 155, 1); //purple
$color-secondary: rgba(0, 113, 188, 1); //blue
$color-tertiary: rgba(246, 142, 86, 1); //orange
$color-contrast: rgb(255, 255, 255); //whites

//TYPOGRAPHY

//Import Local fonts 
@font-face{
font-family:"Montserrat Light";
    src: url('../inc/fonts/Montserrat-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face{
font-family:"Montserrat Regular";
    src: url('../inc/fonts/Montserrat-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face{
font-family:"Montserrat Bold";
    src: url('../inc/fonts/Montserrat-Bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

//Import any Google fonts
//@import url('');

//Declare fonts
$font-light: 'Montserrat Light';
$font-primary: 'Montserrat Regular', sans-serif;
$font-primary--bold: 'Montserrat Bold';
$font-primary--xbold: 'Montserrat Bold';
$font-secondary: 'Georgia', serif;

//set strong and italic preference here
em {
    font-style: italic;
}
strong {
    font-family: $font-primary--bold;
    font-style: normal;
    font-weight: 400
}

//
//COMPONENTS
//Use your variable values above or declare new values

//Text and links

$header-font: $font-primary--bold;
$header-font--small: $font-light; //h3s and h4s

$link-color: $color-secondary;
$link-color--hover: $color-secondary;

//Forms and buttons
$input-color: #ddd;

$button-color--standard: $color-secondary;
$button-color--special: $color-tertiary;
$button-text-color: #fff;


// Header Elements & Navigation
$header-position: static; //fixed|static
$header-direction: row; //select row|column

$menu-position: 2; //if $header-direction == row: 1 for left, 2 for right; if == column, 1 for top 2 for bottom
$menu-font-family: $font-primary; //select from variables or a new value
$menu-font-size: 1.4rem; //use rems
$menu-font-transform: uppercase; //select uppercase|none|lowercase
$menu-link-color: #000; //select from variables or a new value
$menu-link-color--hover: $color-primary;

//Buttons